{% extends "survey/base.html" %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text">Survey Title&nbsp;<i class="bi bi-asterisk"></i></span>
                <input type="text" class="form-control" value="{{ form.initial.title }}" name="title" id="id_title" required>
            </div>
            <div class="form-text">This is necessary field. You have to use unique name for the survey.</div>
        </div>
        <div class="mb-3 input-group">
            <span class="input-group-text">Introduction text</span>
            <textarea class="form-control" aria-label="Introduction text" id="id_introduction_text" name="introduction_text">{{ form.initial.introduction_text }}</textarea>
        </div>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="activity_status" id="id_activity_status_a" value="active" {% if form.initial.activity_status == 'active' %}checked{% endif %}>
                <label class="form-check-label" for="id_activity_status_a">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="activity_status" id="id_activity_status_s" value="suspend" {% if form.initial.activity_status == 'suspend' %}checked{% endif %}>
                <label class="form-check-label" for="id_activity_status_s">Suspended</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="activity_status" id="id_activity_status_d" value="draft"  {% if form.initial.activity_status == 'draft' %}checked{% endif %}>
                <label class="form-check-label" for="id_activity_status_d">Draft</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class='col-sm-6' style="display: flex; flex-direction: row;">
                <label for="id_date_from_day" class="form-label">From:&nbsp;</label>
                {{ form.date_from }}
            </div>
            <div class='col-sm-6' style="display: flex; flex-direction: row;">
                <label for="id_date_upto_day" class="form-label">To:&nbsp;</label>
                {{ form.date_upto }}
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="is_anonymous" id="id_is_anonymous" {% if form.initial.is_anonymous %}checked{% endif %}>
            <label class="form-check-label" for="id_is_anonymous">
              Is anonymous users allowed?
            </label>
        </div>
        <div class="form-check mb-3" style="display: flex; flex-direction: row;">
            <div class="me-3 p-3 border">
                <h4>Add</h4>
                <p style="font-style: italic;"><strong>Add new</strong> questions to the survey: <br>Check what you want to add</p>
                {{ form.new_questions }}
            </div>
            <div class="ms-3 p-3 border">
                <h4>Remove</h4>
                <p style="font-style: italic;"><strong>Remove existed</strong> questions from the survey: <br>Check questions that you want to remove</p>
                {{ form.exist_questions }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Update the survey</button>
        <a href="/surveys"><button type="button" class="btn btn-secondary mb-4">Close</button></a>
    </form>
{% endblock content %}
