{% extends "survey/base.html" %}
{% block content %}
    {% if request.user.is_staff or request.user.is_superuser or request.user.role == "admin" %}
        <div class="mb-4" style="text-align: end;"><a type="button" class="btn btn-outline-primary" href="/surveys/questions/add/">Add new question</a></div>
    {% endif %}
    <div class="row">
    {% for question in questions %}
        <div class="col-sm-6 mb-3 mb-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ question.text }}</h5>
                    <div class="card-text">
                        <p class="text-body-secondary"><em>Attached to the Survey: <strong>{{ question.questionare }}</strong></em></p>
                    </div>
                </div>
                <div class="card-footer">
                    {% if request.user.is_staff or request.user.is_superuser or request.user.role == "admin" %}
                        <a href="/surveys/questions/edit/{{ question.id }}" class="card-link">Edit question</a>
                        <a href="/surveys/questions/remove/{{ question.id }}" class="card-link">Remove question</a>
                    {% endif %}
                </div>
            </div>
        </div>        
    {% endfor %}
    </div>
{% endblock content %}
