{% extends "survey/base.html" %}
{% block content %}
    {% if request.user.is_staff or request.user.is_superuser or request.user.role == "admin" %}
        <div class="mb-4" style="text-align: end;"><a type="button" class="btn btn-outline-primary" href="/surveys/add/">Add new survey</a></div>
    {% endif %}
    <div class="row">
    {% for survey in surveys %}
        <div class="col-sm-6 mb-3 mb-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ survey.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ survey.activity_status }}</h6>
                    <div class="card-text">
                        <p>Start from: {{ survey.date_from }}</p>
                        <p>Finish at: {{ survey.date_upto }}</p>
                    </div>
                    {% if request.user.is_staff or request.user.is_superuser or request.user.role == "admin" %}
                        <a href="#" class="card-link">View statistic</a>
                        <a href="/surveys/edit/{{ survey.id }}" class="card-link">Edit survey</a>
                        <a href="/surveys/remove/{{ survey.id }}" class="card-link">Remove survey</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        {% if survey.activity_status != 'active' %}
                            <h4>Sorry, Survey's status is not Active </h4>
                        {% elif survey.is_early %}
                            <h4>Sorry, it's too soon</h4>
                        {% elif survey.is_past_due %}
                            <h4>Sorry, You're too late</h4>
                        {% else %}
                            <a href="/survey/{{ survey.id }}" class="btn btn-success" type="button">Start survey</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    {% endfor %}
    </div>
{% endblock content %}
